<nav>
  <a routerLink="home">Home</a>
  <a routerLink="about">About</a>
  <a routerLink="colors/list">Colors</a>
  <a routerLink="settings">Settings</a>


  <div *ngIf="isUserLogged$ | async; else notAuthorized">
    <button (click)="logout()">Log out</button>
  </div>

  <ng-template #notAuthorized>
    <div>
      <a routerLink="auth/register">
        Register
      </a>
      <a routerLink="auth/login">
        Log in
      </a>
    </div>
  </ng-template>

</nav>

<router-outlet></router-outlet>
