<mat-toolbar>
  <a mat-flat-button color="primary" routerLink="home">
    {{ 'nav.home' | translate }}
  </a>
  <a mat-flat-button color="accent" routerLink="about">
    {{ 'nav.about' | translate }}
  </a>
  <a mat-flat-button color="warn" routerLink="colors/list">
    {{ 'nav.colors' | translate }}
  </a>
  <a mat-flat-button color="primary" routerLink="settings">
    {{ 'nav.settings' | translate }}
  </a>

  <div class="fill"></div>

  <div *ngIf="isUserLogged$ | async; else notAuthorized">
    <button mat-raised-button (click)="logout()">Log out</button>
  </div>

  <ng-template #notAuthorized>
    <div>
      <a mat-stroked-button routerLink="auth/register">
        Register
      </a>
      <a mat-button routerLink="auth/login">
        Log in
      </a>
    </div>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
